/* General Styles */
body {
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
}
/* Header */
.header {
    background: #475d77;
    color: white;
    padding: 30px;
    text-align: center;
}
.header h1 {
    font-weight: 700;
    text-transform: uppercase;
}
.title {
    font-size: 18px;
    font-weight: 300;
}

.profile {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 40px;
    gap: 30px;
}
.profile img {
    width: 150px;
    height: 150px;
    object-fit: cover;
    border-radius: 50%;
    display: inline-block;
}
.profile p {
    max-width: 500px;
    font-size: 16px;
}
/* Skills Section (Grid) */
.skills {
    padding: 40px;
    background-color: #ffffff;
    text-align: center;
}
.skills-grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;
    margin-top: 20px;
}
.skill-card {
    background-color: #3498db;
    color: white;
    padding: 20px;
    text-align: center;
    font-weight: bold;
    display: block;
}
/* Contact Section */
.contact {
    padding: 40px;
    background-color: #ecf0f1;
}

.contact h2 {
    text-align: center;
}

form {
    max-width: 400px;
    margin: auto;
}

input,
textarea {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    display: block;
}

button {
    padding: 10px 20px;
    background-color: #2c3e50;
    color: white;
    border: none;
    cursor: pointer;
    display: inline-block;
}

/* Footer */
.footer {
    background-color: #2c3e50;
    color: white;
    text-align: center;
    padding: 15px;
}

/* Responsive Design */
@media (max-width: 768px) {

    .profile {
        flex-direction: column;
        text-align: center;
    }

    .skills-grid {
        grid-template-columns: 1fr;
    }
}
